{% extends 'base.html'%}
{% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://getbootstrap.com/docs/5.2/examples/heroes/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Bạn đang tìm kiếm một nơi ?</h1>
        <form>
            <div class="mb-3 form-group">
                <label for="from_country" class="control-label">From</label>
                <select type="text" id="from_country" name="from_country" class="form-select form-select-sm rounded-0 select2" required>
                    <option value=""  disabled selected></option>
                    {% for country in countries %}
                        <option value="{{country.id}}">{{country.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 form-group">
                <label for="to_country" class="control-label">To</label>
                <select type="text" id="to_country" name="to_country" class="form-select form-select-sm rounded-0 select2" required>
                    <option value=""  disabled selected></option>
                    {% for country in countries %}
                        <option value="{{country.id}}">{{country.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3 form-group">
                <label class="control-label">Departure Date</label>
                <input type="datetime-local" name="departure_date" class="form-control form-control-sm rounded-0 timepicker" required>
            </div> 
            <button class="btn btn-primary" type="submit">Tìm</button>
        </form>
    </div>
    <div>
        {% if chuyenbay %}
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">From Airport</th>
                  <th scope="col">To Airport</th>
                  <th scope="col">Departure Date</th>
                  <th scope="col">Flight Time</th>
                  <th scope="col">One Class Quantity</th>
                  <th scope="col">Second Class Quantity</th>
                </tr>
            </thead>
                {% for fl, from, to in chuyenbay %}
                    <tbody class="table-group-divider">
                            <tr class = "clickable-row" data-href="{{url_for('flight_detail', flight_id=fl.id)}}">
                                <th scope="row">{{ fl.code }}</th>
                                <td>{{ from.name }}</td>
                                <td>{{ to.name }}</td>
                                <td>{{ fl.departure_time }}</td>
                                <td>{{ fl.flight_time }}</td>
                                <td>{{ fl.one_class_quantity }}</td>
                                <td>{{ fl.second_class_quantity }}</td>
                            </tr>
                    </tbody>
                {% endfor %}
          </table>
        {% endif %}
    </div>
</div>

<script>
    $("tr").click(function(){
        window.location = $(this).data("href")
      });
</script>
{% endblock content %}